.Home-name {
    color: #d6cdc5;
    text-align: left;
    font-family: "Lucida Sans Unicode";
}

.Home-title {
    color: #2e6cb2;	
    text-align: left;
    font-family: sans-serif;
}

.Home-name-a {
    animation: fadeInName 1 7s ease;
 }

 .Home-currenttitle-a {
    animation: fadeInName 1 7s ease;
    animation-delay: 2s;
}

.Home-thetitle-a {
     animation: fadeInTitle 2 2s linear, fadeInTitle 1 2s ease;
     animation-delay: 3s;
}


@keyframes fadeInName {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeInTitle {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
