.Home-name {
    color: #d6cdc5;
    text-align: left;
    font-family: "Lucida Sans Unicode";
    opacity: 0;
}

.Home-title {
    color: #2e6cb2;	
    text-align: left;
    font-family: sans-serif;
    opacity: 0;
}

.Home-name-a {
    animation: fadeInName 1 7s ease forwards;
 }

 .Home-currenttitle-a {
    animation: fadeInName 1 5s linear forwards;
    animation-delay: 3s;
}

.Home-thetitle-a {
     animation: fadeInTitle 1 2s ease forwards;
     animation-delay: 6s;
}


@keyframes fadeInName {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeInTitle {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
