.projects-description {
  margin-left: 5%;
  margin-right: 10%;
  margin-bottom: 60px;
}

.projects-title {
  text-align: left;
  width: 5%;
}

.projects-tools {
  margin-left: 5px;
  margin-right: 5px;
  opacity: .7;
  font-size: calc(12px + .20vw);
}
