.projects-description {
  margin-left: 5%;
  margin-right: 3%;
  margin-bottom: 60px;
}

.projects-title {
  text-align: left;
  width: 5%;
}

.projects-tools {
  align-self: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  opacity: .7;
  font-size: calc(12px + .20vw);
}

.projects-title-tools {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 4%;
}
