.block {
  width: 100%;
  margin-bottom: 10vh;
  padding-left: 21%;
  padding-right: 15%;
}

.section-title {
  text-align: right;
  margin-left: 13%;
  margin-bottom: 20px;
  width: 10%;
}

.section-text {
  padding-right: 0%;
  padding-left: 0%;
}

.section-title-c {
  color: #FE6F5E;
  font-weight: 300;
  font-family: 'Inconsolata', monospace;
}

.section-text-c {
  color: #d6cdc5;
  font-family: 'Rubik', sans-serif;
}
