.block {
  width: 100%;
  margin-bottom: 10vh;
  display: inline-block;
}

.section-title {
    text-align: right;
    margin-left: 13%;
    margin-bottom: 20px;
    width: 10%;
}

.section-text {
    text-align: left;
    margin-left: 22%;
    margin-right: 22%;
}

.section-title-c {
    color: #FE6F5E;
    font-weight: 300;
    font-family: 'Inconsolata', monospace;
}

.section-text-c {
    color: #d6cdc5;
    font-family: 'Rubik', sans-serif;
  }
