 @keyframes fadeIn {
     0% {opacity: 0;}
     100% {opacity: 1;}
 }

#disp-nav { display: none; }

@media screen and (min-width: 600px) {
   #disp-nav { display: block; }
}

.nav {
  position: fixed;
  left: 20px;
  top: 42%;
  width: 67px;
}

.block {
  width: 100%;
  margin-bottom: 10vh;
  padding-left: 21%;
  padding-right: 15%;
}

.section-title {
  text-align: left;
  margin-left: 18%;
  font-size: 24px;
}

.section-text {
  padding-right: 0%;
  padding-left: 0%;
}

.section-title-c {
  color: #FE6F5E;
  font-family: 'Inconsolata', monospace;
}

.section-text-c {
  color: #d6cdc5;
  font-family: 'Rubik', sans-serif;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}
